@{
    ViewBag.Title = "Forgotten Password - Ohad's Car Rental";
}

@section PageStyles {
    @Styles.Render("~/Content/themes/FunnyPages")
}

<div class="funny-wrapper" data-ix="fade-in-heading">

    <div class="funny-header-wrapper theme-panic">
        <div class="funny-header bg-panic">
            <div class="funny-content">
                <div class="icon funny-icon icon-panic" data-ix="fade-in-heading-5200"></div>
                <h1 class="funny-name" data-ix="fade-in-heading">Forgotten your password?</h1>
                <h1 class="funny-title" data-ix="drop-from-top-load">Don't panic!</h1>
                <hr class="title-separator" data-ix="hard-scale-on-scroll-delay-500" />
                <h1 class="funny-subtitle" data-ix="fade-in-heading-4200">It seems that there's nothing we can do about it... Sorry.</h1>
            </div>
        </div>
    </div>

    <div class="video-wrapper main-video" data-ix="width-adjust">
        <iframe width="960" height="520" src="https://www.youtube.com/embed/MYxAiK6VnXw?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/webflow")
}

