@model OhadsCarRental.Manufacturer

@{
    ViewBag.Title = "Delete a Manufacturer - Ohad's Car Rental";
}

<div class="d-section">
    <h1 class="d-title">Delete a Manufacturer</h1>
    <hr class="d-title-separator" />

    <div class="basic-form small">

        <div class="basic-form-row">
            <span class="basic-btn medium">@Html.ActionLink("Back to List", "Index")</span>
        </div>

        <div class="basic-form-row">
            <h3 class="basic-form-title">Are you sure you want to delete this?</h3>

            <div class="basic-form-main-p">
                <p>Manufacturer: <span>@Model.ManufacturerName</span></p>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="attn-lvl-h" />
            }
        </div>

        <p class="validation-summary-errors">@ViewBag.ErrorMessage</p>

    </div>
</div>






