
<form method="get" action="~/Search">
    <label class="visually-hidden" for="search-query">Search query</label>
    <input type="search" id="FreeText" name="FreeText" placeholder="Search cars" spellcheck="false" autocomplete="off" />

    <span class="search-btn">
        <button tabindex="-1" class="icon icon-search search-icon-box" type="submit"></button>
    </span>
</form>