@model IEnumerable<OhadsCarRental.Rental>

@{
    ViewBag.Title = "Orders Watch - Ohad's Car Rental";
}

<div class="d-section">
    <h1 class="d-title">Orders</h1>
    <hr class="d-title-separator" />

    <div class="basic-form big">

        <p class="validation-summary-errors">@ViewBag.ErrorMessage</p>

        <div class="basic-form-row">
            <div class="model-tbl">

                <div class="model-tbl-th col-5">
                    <span>Receipt Number</span>
                    <span>Customer</span>
                    <span>Car Model</span>
                    <span>Rental Dates</span>
                    <span>Actual Return Date</span>
                </div>

                @foreach (var rental in Model)
                {
                    @Html.Partial("_WatchOrderPartial", rental)
                }
            </div>
        </div>

    </div>
</div>
