@{
    ViewBag.Title = "About - Ohad's Car Rental";
}

@section PageStyles {
    @Styles.Render("~/Content/themes/About")
}

<div class="about-wrapper">
    <div class="section">
        <div class="about-header">
            <h1 class="block-title">About Ohad's Car Rental</h1>
            <hr class="block-title-separator" />
            <p>
                Welcome to Ohad's Car Rental. The most popular car rentals company around LA, with a large fleet of vehicles, which includes many Cars, SUVs, Vans, Trucks, and Exotic Cars.
                <br /><br /> The company was founded by Ohad Shai, 20 years ago. The company started with a branch in LA, then it became popular, and now the company owns 15 branches in the United States.
                <br /><br />  The company has a high service rating, lots of positive feedback, and very satisfied customers. Orders are carried out quickly and easily, with a full customer support 24/7.
            </p>
        </div>

        <div class="inner-section">
            <div class="about-wrapper">
                <h1 class="block-title">Opening times</h1>
                <hr class="block-title-separator" />
                <div class="opening-times">
                    <ul>
                        <li>
                            <span class="day">Monday</span>
                            <span class="time">10:00 - 18:00</span>
                        </li>
                        <li>
                            <span class="day">Tuesday</span>
                            <span class="time">10:00 - 18:00</span>
                        </li>
                        <li>
                            <span class="day">Wednesday</span>
                            <span class="time">10:00 - 18:00</span>
                        </li>
                        <li>
                            <span class="day">Thursday</span>
                            <span class="time">10:00 - 18:00</span>
                        </li>
                        <li>
                            <span class="day">Friday</span>
                            <span class="time">Close</span>
                        </li>
                        <li>
                            <span class="day">Saturday</span>
                            <span class="time">Close</span>
                        </li>
                        <li>
                            <span class="day">Sunday</span>
                            <span class="time">10:00 - 18:00</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="inner-section">
                <div class="about-wrapper">
                    <h1 class="block-title">Location</h1>
                    <hr class="block-title-separator" />
                    <p>
                        2501 N
                        <br />Hollywood Way
                        <br /> CA 90301
                        <br />United States
                        <br /> <br /> Tel.: 05 465 78 54
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="section more-about">
        <div class="v-ordered-about">

            <div class="v-block">
                <div class="icon v-block-icons icon-phone"></div>
                <p class="call-phone">Call us: 05 465 78 54</p>
            </div>

            <div class="v-block">
                <div class="icon v-block-icons icon-message"></div>
                <p>Give us some feedback.</p>
                <a href="~/ContactUs">Contact Us</a>
            </div>

            <div class="v-block">
                <div class="icon v-block-icons icon-loacation"></div>
                <p class="comp-location">2501 N Hollywood Way, CA 90301, United States</p>
            </div>

        </div>
    </div>

</div>