@{
    ViewBag.Title = "Privacy Policy - Ohad's Car Rental";
}

@section PageStyles {
    @Styles.Render("~/Content/themes/FunnyPages")
}

<div class="funny-wrapper privacy" data-ix="fade-in-heading">

    <div class="funny-header-wrapper theme-privacy">
        <div class="funny-header bg-privacy">
            <div class="funny-content">
                <div class="icon funny-icon icon-shield" data-ix="hard-scale-on-scroll-delay-1500"></div>
                <h1 class="funny-title dark" data-ix="drop-from-top-load">Privacy Policy</h1>
                <hr class="title-separator" data-ix="hard-scale-on-scroll-delay-500" />
                <h1 class="funny-subtitle" data-ix="fade-in-heading-4200">You're safe in my site.</h1>
                <h1 class="funny-subtitle" data-ix="fade-in-heading-5200">Trust me :)</h1>
            </div>
        </div>
    </div>

    <div class="video-wrapper main-video" data-ix="width-adjust">
        <iframe width="960" height="520" src="https://www.youtube.com/embed/U7RYSQvrUrc?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/webflow")
}

