/*--------------------------------------------
    CSS Chapters:
    -------------
    0 - General formatting
    1 - Font icons
    2 - Specific Error Page
        2.1 - Error 404 Page
        2.2 - Error 403 Page
    3 - Media Queries
--------------------------------------------*/

/*#region 0 - General formatting */

section.actualContent {
    min-height: initial;
}

h2 {
    margin: 0;
}

div.error-wrapper {
    opacity: 0;
    width: 100%;
    height: 100%;
    float: left;
    padding-bottom: 30px;
    background-color: #000;
    color: #b4b3b3;
    text-align: center;
    font-size: 18px;
}

.error-title {
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'Impact';
    text-transform: uppercase;
    margin-bottom: -4px;
}

.error-subtitle {
    font-size: 23px;
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'Impact';
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.1);
}

.error-name {
    color: red;
}

hr.title-separator {
    width: 80%;
    max-width: 936px;
    box-shadow: 15px 4px 0px #a0a0a0;
    margin-bottom: 40px;
}

hr.sub-separator {
    width: 40%;
    max-width: 936px;
    margin-bottom: 15px;
    border-color: #444;
}

    hr.sub-separator.second {
        width: 30%;
    }

div.video-wrapper {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

    div.video-wrapper iframe {
        width: 100%;
    }

/*#endregion */

/*#region 1 - Font icons */

.error-icon {
    font-size: 100px;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.5);
    color: #ccc;
    padding-top: 30px;
    cursor: default;
}

.icon-confused::before {
    content: "\e91a";
}

.icon-blocked::before {
    content: "\e922";
    color: rgb(180, 16, 16);
    text-shadow: 4px 3px 1px rgb(68, 6, 6);
}

.icon-wondering::before {
    content: "\e916";
    color: rgb(180, 16, 16);
    text-shadow: 4px 3px 1px rgb(68, 6, 6);
}

/*#endregion */

/*#region 2 - Specific Error Page */

/*#region 2.1 - Error 404 Page */

div.video-wrapper.rick-astley {
    max-height: 480px;
    max-width: 640px;
    height: 80%;
    width: 50%;
}

/*#endregion */

/*#region 2.2 - Error 403 Page */

div.forbidden-header-wrapper {
    background-color: rgb(92, 5, 5);
    height: 300px;
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

div.forbidden-header {
    background-image: url('../images/site/forbidden-header.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 1200px;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 100px 0px 130px 10px rgb(92, 5, 5) inset;
}

div.forbidden-content {
    float: right;
    width: 500px;
    margin-right: 10%;
    text-shadow: 2px 2px 1px black;
}

div.video-wrapper.breakn-a-sweat {
    max-height: 520px;
    max-width: 960px;
}

/*#endregion */

/*#endregion */

/*#region 3 - Media Queries */

@media screen and (max-width:767px) {

    div.video-wrapper {
        height: 80%;
        width: 80%;
    }

    div.forbidden-content {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width:479px) {
    .error-subtitle {
        font-size: 18px;
    }
}

/*#endregion */

